.popover {
  position: absolute;
  top: 6px;
  right: 6px;
  bottom: 6px;
  left: 6px;
  z-index: 20000;
  display: none;
}
.popover-mask {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.1);
  position: fixed;
}
.popover__container {
  width: 100%;
  height: 100%;
  pointer-events: none;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.popover__content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
  line-height: normal;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: -apple-system, 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 17px;
  position: absolute;
  display: block;
  width: 220px;
  overflow: auto;
  min-height: 100px;
  max-height: 100%;
  background-color: white;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  color: #1f1f21;
  pointer-events: auto;
}
.popover__content > * {
  overflow: hidden;
}
.popover__content .page,
.popover__content .page__content {
  position: static;
}
.popover__arrow {
  position: absolute;
  width: 18px;
  height: 18px;
  -webkit-transform-origin: 50% 50% 0;
  -moz-transform-origin: 50% 50% 0;
  -ms-transform-origin: 50% 50% 0;
  -o-transform-origin: 50% 50% 0;
  transform-origin: 50% 50% 0;
  background-color: transparent;
  background-image: -webkit-linear-gradient(45deg, white, white 50%, transparent 50%);
  background-image: -moz-linear-gradient(45deg, white, white 50%, transparent 50%);
  background-image: -o-linear-gradient(45deg, white, white 50%, transparent 50%);
  background-image: linear-gradient(45deg, white, white 50%, transparent 50%);
  -webkit-border-radius: 0 0 0 4px;
  border-radius: 0 0 0 4px;
  margin: -9px;
}
.popover--bottom .popover__arrow {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  bottom: 1px;
}
.popover--top .popover__arrow {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  top: 1px;
}
.popover--left .popover__arrow {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 1px;
}
.popover--right .popover__arrow {
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  transform: rotate(225deg);
  right: 1px;
}

