.checkbox--material {
  line-height: 18px;
  font-family: 'Roboto', 'Noto', sans-serif;
  -webkit-font-smoothing: antialiased;
}
.checkbox--material__checkmark {
  width: 18px;
  height: 18px;
}
.checkbox--material__checkmark:before {
  border: 2px solid #717171;
}
.checkbox--material__input:checked + .checkbox--material__checkmark:before {
  background-color: #009688;
  border: none;
}
.checkbox--material__input + .checkbox--material__checkmark:after {
  border-color: #ffffff;
  -webkit-transition: -webkit-transform 0.3s ease;
  -moz-transition: -moz-transform 0.3s ease;
  -o-transition: -o-transform 0.3s ease;
  transition: transform 0.3s ease;
  width: 10px;
  height: 5px;
  top: 4px;
  left: 3px;
  -webkit-transform: scale(0) rotate(-45deg);
  -moz-transform: scale(0) rotate(-45deg);
  -ms-transform: scale(0) rotate(-45deg);
  -o-transform: scale(0) rotate(-45deg);
  transform: scale(0) rotate(-45deg);
}
.checkbox--material__input:checked + .checkbox--material__checkmark:after {
  top: 4px;
  left: 3px;
  -webkit-transform: scale(1) rotate(-45deg);
  -moz-transform: scale(1) rotate(-45deg);
  -ms-transform: scale(1) rotate(-45deg);
  -o-transform: scale(1) rotate(-45deg);
  transform: scale(1) rotate(-45deg);
}
.checkbox--material__input:disabled + .checkbox--material__checkmark {
  opacity: 1;
}
.checkbox--material__input:disabled + .checkbox--material__checkmark:before {
  border-color: #afafaf;
}
.checkbox--material__input:disabled:checked + .checkbox--material__checkmark:before {
  background-color: #afafaf;
}
.checkbox--material__input:disabled:checked + .checkbox--material__checkmark:after {
  border-color: #fff;
}
.checkbox--material__input:disabled:checked:active + .checkbox--material__checkmark:before {
  background-color: #afafaf;
}
.checkbox--material__checkmark:before {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  width: 18px;
  height: 18px;
}
