.button--outline {
  background-color: transparent;
  border: 1px solid rgba(24,103,194,0.81);
  color: rgba(24,103,194,0.81);
}
.button--outline:active {
  background-color: rgba(24,103,194,0.81);
  border: 1px solid rgba(24,103,194,0.81);
  color: rgba(24,103,194,0.81);
  opacity: 1;
}
.button--outline:hover {
  border: 1px solid rgba(24,103,194,0.81);
  -webkit-transition: 0;
  -moz-transition: 0;
  -o-transition: 0;
  transition: 0;
}
