.navigation-bar {
  font-family: -apple-system, 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 17px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  white-space: nowrap;
  overflow: hidden;
  word-spacing: 0;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
  line-height: normal;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 2;
  display: block;
  height: 44px;
  padding-left: 0;
  padding-right: 0;
  background: #fff;
  color: #1f1f21;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-weight: 400;
  width: 100%;
  white-space: nowrap;
  border-bottom: none;
  -webkit-background-size: 100% 1px;
  background-size: 100% 1px;
  background-repeat: no-repeat;
  background-position: bottom;
  background-image: -webkit-linear-gradient(90deg, #bbb, #bbb 100%);
  background-image: -moz-linear-gradient(90deg, #bbb, #bbb 100%);
  background-image: -o-linear-gradient(90deg, #bbb, #bbb 100%);
  background-image: linear-gradient(0deg, #bbb, #bbb 100%);
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .navigation-bar {
    background-image: -webkit-linear-gradient(90deg, #bbb, #bbb 50%, transparent 50%);
    background-image: -moz-linear-gradient(90deg, #bbb, #bbb 50%, transparent 50%);
    background-image: -o-linear-gradient(90deg, #bbb, #bbb 50%, transparent 50%);
    background-image: linear-gradient(0deg, #bbb, #bbb 50%, transparent 50%);
  }
}
.navigation-bar__bg {
  background: #fff;
}
.navigation-bar__item,
.navigation-bar__left,
.navigation-bar__right,
.navigation-bar__center {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
  line-height: normal;
  height: 44px;
  vertical-align: top;
  overflow: visible;
  display: block;
  vertical-align: middle;
  float: left;
}
.navigation-bar__left {
  max-width: 50%;
  width: 27%;
  text-align: left;
  line-height: 44px;
}
.navigation-bar__right {
  max-width: 50%;
  width: 27%;
  text-align: right;
  line-height: 44px;
}
.navigation-bar__center {
  width: 46%;
  text-align: center;
  line-height: 44px;
  font-size: 17px;
  font-weight: 500;
  color: #1f1f21;
}
.navigation-bar__title {
  line-height: 44px;
  font-size: 17px;
  font-weight: 500;
  color: #1f1f21;
  margin: 0;
  padding: 0;
  overflow: visible;
}
.navigation-bar__center:first-child:last-child {
  width: 100%;
}
