.text-input--material {
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
  line-height: normal;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  vertical-align: top;
  outline: none;
  line-height: 1;
  font-family: -apple-system, 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 17px;
  font-family: 'Roboto', 'Noto', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #212121;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(1px, transparent), color-stop(1px, #afafaf));
  background-image: -webkit-linear-gradient(bottom, transparent 1px, #afafaf 1px);
  background-image: -moz-linear-gradient(bottom, transparent 1px, #afafaf 1px);
  background-image: -o-linear-gradient(bottom, transparent 1px, #afafaf 1px);
  background-image: linear-gradient(to top, transparent 1px, #afafaf 1px);
  -webkit-background-size: 100% 2px;
  background-size: 100% 2px;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-color: transparent;
  font-size: 16px;
  font-weight: 400;
  border: none;
  padding-bottom: 2px;
  -webkit-border-radius: 0;
  border-radius: 0;
  height: 24px;
  -webkit-transform: translate3d(0, 0, 0);
}
.text-input--material__label {
  color: #afafaf;
  position: absolute;
  left: 0px;
  top: 2px;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Roboto', 'Noto', sans-serif;
  pointer-events: none;
}
.text-input--material__label--active {
  color: #009688;
  -webkit-transform: translate(0, -75%) scale(0.75);
  -moz-transform: translate(0, -75%) scale(0.75);
  -ms-transform: translate(0, -75%) scale(0.75);
  -o-transform: translate(0, -75%) scale(0.75);
  transform: translate(0, -75%) scale(0.75);
  -webkit-transform-origin: left top;
  -moz-transform-origin: left top;
  -ms-transform-origin: left top;
  -o-transform-origin: left top;
  transform-origin: left top;
  -webkit-transition: -webkit-transform 0.1s ease-in, color 0.1s ease-in;
  -moz-transition: -moz-transform 0.1s ease-in, color 0.1s ease-in;
  -o-transition: -o-transform 0.1s ease-in, color 0.1s ease-in;
  transition: transform 0.1s ease-in, color 0.1s ease-in;
}
.text-input--material:focus {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#009688), to(#009688)), -webkit-gradient(linear, left bottom, left top, color-stop(1px, transparent), color-stop(1px, #afafaf));
  background-image: -webkit-linear-gradient(#009688, #009688), -webkit-linear-gradient(bottom, transparent 1px, #afafaf 1px);
  background-image: -moz-linear-gradient(#009688, #009688), -moz-linear-gradient(bottom, transparent 1px, #afafaf 1px);
  background-image: -o-linear-gradient(#009688, #009688), -o-linear-gradient(bottom, transparent 1px, #afafaf 1px);
  background-image: linear-gradient(#009688, #009688), linear-gradient(to top, transparent 1px, #afafaf 1px);
  -webkit-animation: material-text-input-animate 0.3s forwards;
  -moz-animation: material-text-input-animate 0.3s forwards;
  -o-animation: material-text-input-animate 0.3s forwards;
  animation: material-text-input-animate 0.3s forwards;
}
.text-input--material::-webkit-input-placeholder {
  color: #afafaf;
  line-height: 20px;
}
.text-input--material::-moz-placeholder {
  color: #afafaf;
  line-height: 20px;
}
.text-input--material::-ms-input-placeholder {
  color: #afafaf;
  line-height: 20px;
}
.text-input--material:-ms-input-placeholder {
  color: #afafaf;
  line-height: 20px;
}
.text-input--material::-ms-clear {
  display: none;
}
@-moz-keyframes material-text-input-animate {
  0% {
    background-size: 0% 2px, 100% 2px;
  }
  100% {
    background-size: 100% 2px, 100% 2px;
  }
}
@-webkit-keyframes material-text-input-animate {
  0% {
    -webkit-background-size: 0% 2px, 100% 2px;
    background-size: 0% 2px, 100% 2px;
  }
  100% {
    -webkit-background-size: 100% 2px, 100% 2px;
    background-size: 100% 2px, 100% 2px;
  }
}
@-o-keyframes material-text-input-animate {
  0% {
    background-size: 0% 2px, 100% 2px;
  }
  100% {
    background-size: 100% 2px, 100% 2px;
  }
}
@keyframes material-text-input-animate {
  0% {
    -webkit-background-size: 0% 2px, 100% 2px;
    background-size: 0% 2px, 100% 2px;
  }
  100% {
    -webkit-background-size: 100% 2px, 100% 2px;
    background-size: 100% 2px, 100% 2px;
  }
}
